.flexbox {
  background-color: rgb(55, 55, 189);
  justify-content: space-around;
  display: flex;
  padding: 0px;
  flex-direction: row;
  max-width: 80%;
  margin: auto;
  box-sizing: border-box;
}
.flexbox1 {
  width: 50%;
  color: azure;
  padding: 10px;
  margin: 10px;
}
.grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 30px);
  grid-gap: 100px;
  padding: 10px;
}
body {
  background-color: rgb(41, 41, 104);
  background-attachment: fixed;
  margin-top: 150px;
}
span {
  color: rgb(200, 41, 214);
}
* {
  font-family: Verdana;
}
p {
  font-family: serif;
  color: rgb(255, 255, 255);
}
.flexbox2 {
  width: 50%;
  padding: 10px;
  margin: 10px;
  background-size: 100% 100%;
}
