body {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-color: rgb(96, 209, 96);
  }
  .app {
    margin: 100px 180px;
    padding: 20px 40px;
    border: 10px 30px;
    width: 60%;
    background-color: rgb(255, 255, 255);
  }
  @media (max-width: 500px){
    .app{
        margin: 0px;
        border:0px;
        padding:20px 40px;
        width:60%;
    }
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(96, 209, 96);
    padding :10px 0px;
}
h2{
    text-align: center;
    color: rgb(25, 115, 151);
}
h3{
    text-align: center;
    color: rgb(24, 112, 146);
}
.grid1{
    justify-content: space-around;
    align-content: center;
    display: grid;
    width:100%;
    max-height: 600px;
    grid-template-rows: 50px 50px 50px;
    gap : 10px;
}

.submit-box{
    position: relative;
    padding:30px 10px;
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
}
#addForm{
    padding:5px 5px;
}
.list{
   
    justify-content: center;
    align-content: center;
    display: grid;
}
.tasks{
    color: rgb(255, 255, 255);
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
}
li{
    padding: 10px 15px;
    margin:2px;
    border:1px;
    border-radius: 10px 10px;
    background-color: rgb(87, 87, 185);
}
.list-group{
    padding:0;
}
