<form class="form">
    <h3>Drop us a message </h3>
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter name">
      </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label>Your query</label>
        <input class="form-control input-lg" id="inputlg" type="text" placeholder="Enter query">
      </div>
    <button type="submit" class="btn" style=" color:white;background-color:#17a2b8; width:50% ; margin:0 auto" onclick="alert('Your response recorded successfully !')">Submit</button>
    
  </form>

<!--!>
    <input class="form-control input-lg" id="inputlg" type="text">
    <button type="submit" class="btn" style=" color:white;background-color:#17a2b8; width:50% ; margin:0 auto" onclick="alert('Your response recorded successfully !')">Submit</button>
</!-->
